<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="./css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="./css/bootstrap-dialog.css"/>
    <link rel="stylesheet" type="text/css" href="./css/styles-login.css">
    <style>

    </style>

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="container">
    <div class="row">
        <!--header-->
        <div class="navbar navbar-default">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mynavbar-content">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></a>
            </div>

            <div class="collapse navbar-collapse" id="mynavbar-content">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/">Home</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">High Scrore<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#getRankDay">Day</a></li>
                            <li><a href="#">Week</a></li>
                            <li><a href="#getRankMonth">Moth</a></li>
                            <li><a href="#getRankYear">Year</a></li>
                        </ul>
                    </li>
                    <li><a href="/about">About</a></li>
                    <li><a href="#">Help</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div id="head">
            <div>
                <div class="pull-right">
                    <a href="https://www.facebook.com/linhphan0011" target="_blank">
                        <img src="/imgs/avatar.png" class="img-responsive img-thumbnail" alt="Linh's avatar" style="width:214px;height:228px; margin:5px 30px;">
                    </a>
                </div>
                <h1>Phan Dinh Linh</h1>
                Date of Birth: 1st Aug 1989 <br/>
                Address: Zone B Dormitory of Vietnam National University - Ho Chi Minh City – Linh Trung Ward – Thu Duc District– Ho Chi Minh City
                <br/>
                Mobile: 0168-5918-345 <br/>
                E-mail: linhphan0108@gmail.com <br/>
            </div>
        </div>
        <div>
            <h2>OBJECTIVE:</h2>
            -	To apply my knowledge from university to practical job. <br/>
            -	To contribute my young strength and programming enthusiasm to your company. <br/>
            -	To have the good opportunities to learn from all members in your company. <br/>
            -	To promote my skills with development of company, I want to prove myself. <br/>
        </div>
        <div>
            <h2>EDUCATION:</h2>
            -	Senior student of The Faculty of Computer Network & Communication at University of Information Technology, Km20 Hanoi Highway, Linh Trung, Thu Duc, HCMC, Vietnam.
            <br/>
            -	GPA: 7.89 <br/>
        </div>
        <div>
            <h2>SKILL:</h2>
            -	Knowledge about object-oriented programming. <br/>
            -	Interested in Web programming, specially Nodejs . <br/>
            -	Basic knowledge .Net with languages: C/C++, C#. <br/>
            -	Experience with HTML, CSS, Bootstrap, Javascript, PHP, MySQL, Node.js, MongoDB. <br/>
            -	Programed some projects for subjects at school: E-Commerce website using PHP language and MySQL, “Who is millionnaire” game based on express.js framework and socket.io, Vchat – a real-time communication Video call on web browser without any plugin using WebRTC.
            <br/>
            -	Proficiency with either Windows or Linux, especially Ubuntu. <br/>
        </div>
        <div>
            <h2>LANGUAGE:</h2>
            -	Communicate in English. <br/>
            -	Good at reading book and documentary about IT technology in English. <br/>
        </div>
        <div>
            <h2>ADDITION INFORMATION:</h2>
            -	Independent or team work. <br/>
            -	Good at communicating with all member. <br/>
            -	Learn new technology quickly. <br/>
            -	Doing my best and leaning as much as possible in order to accomplish my task. <br/>
        </div>
        <div>
            <h2>HOBBIES:</h2>
            -	Excited with exploring new technologies. <br/>
            -	Reading magazine about technology, playing sports and listening to music. <br/>
        </div>
        <div>
            <h2>REFERENCE:</h2>
            -	Dr. Nguyễn Anh Tuấn – Acting Dean of The Faculty Nework & Communication at University of Information Technology. Email:  tuanna@uit.edu.vn.
            <br/>
        </div>
    </div>



</div> <!-- /container -->
<script src="js/jquery-1.11.2.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/locateNav.js"></script>


</body>
</html>